.black-fryday {
    background: #000 url("../img/black-fryday/mobile.png") repeat-x;
}

.black-fryday__inner {
    position: relative;
    padding-top: 22px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: "TT Norms";
    color: #ffa800;
    gap: 2px;
}


.black-fryday__sale {
    padding-right: 2px;
    max-width: 40%;
    font-size: 17px;
    line-height: 13px;
    font-weight: 500;
    position: relative;
    border-right: #ffa800 2px solid;
}

.black-fryday__sale span {
    font-size: 23px;
    line-height: 17px;
    font-weight: 700;
}

.black-fryday__sale br {
    display: none;
}

.black-fryday__title {
    padding-right: 2px;
    max-width: 29vw;
    width: 100%;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    padding-top: 6px;
    text-align: center;
    position: relative;
    border-right: #ffa800 2px solid;
}

.timer {
    font-family: "TT Norms";
}

.timer__text {
    font-weight: 300;
    font-size: 8px;
    line-height: 6px;
    padding-top: 1px;
    margin-bottom: 0;
}

.timer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 22px;
}

.timer__days {
    display: none;
}

.timer__item {
    position: relative;
    min-width: 36px;
    padding-bottom: 10px;
}

.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 10px;
    bottom: 6px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 6px;
    opacity: 0.5;
}

.timer__item:not(:last-child)::after {
    content: ":";
    position: absolute;
    right: 1px;
}

@media (min-width: 767px) {

    .black-fryday {
        background-image: url("../img/black-fryday/deisktop.png") repeat-x;
    }

    .black-fryday__inner {
        padding-top: 27px;
    }
    .black-fryday__sale {
        max-width: 38%;
        font-size: 30px;
        line-height: 32px;
        border: none;
        padding-top: 3px;
    }
    .black-fryday__sale span {
        font-size: 40px;
        line-height: 42px;
    }
    .black-fryday__title {
        font-size: 25px;
        width: unset;
        max-width: unset;
        line-height: 38px;
        border: none;
        position: relative;
    }
    .black-fryday__title::after {
        position: absolute;
        content: "";
        background: #ffa800;
        width: 70%;
        left: 15%;
        height: 1px;
        bottom: 20px;
    }
    .timer__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 30px;
    }
    .timer__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 13px;
        padding-top: 1px;
        margin-bottom: 0;
    }
    .timer__item {
        min-width: 52px;
        text-align: center;
    }
    .timer__item::before {
        bottom: 0;
        left: 50%;
        font-size: 10px;
        line-height: 15px;
    }
    .timer__item:not(:last-child)::after {
        right: -3px;
    }
}

@media (min-width: 1199px) {
    .black-fryday__sale {
        font-size: 42px;
        line-height: 32px;
    }
    .black-fryday__sale br {
        display: block;
    }
    .black-fryday__sale span {
        font-size: 55px;
        line-height: 42px;
    }
    .black-fryday__title {
        font-size: 38px;
        line-height: 38px;
    }
    .timer__items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 46px;
    }
    .timer__text {
        font-size: 17px;
        line-height: 13px;
        padding-top: 1px;
        margin-bottom: 0;
    }
    .timer__item {
        min-width: 75px;
    }
    .timer__item::before {
        bottom: 0;
        font-size: 13px;
        line-height: 15px;
    }
    .timer__item:not(:last-child)::after {
        right: -5px;
    }
}
