@font-face {
    font-family: "HeadingNow-54";
    src: url("fonts/HeadingNowTrial-54.woff") format("woff"), url("fonts/HeadingNowTrial-54.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "HeadingNow-64";
    src: url("fonts/HeadingNowTrial-64.woff") format("woff"), url("fonts/HeadingNowTrial-64.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "HeadingNow-94";
    src: url("fonts/HeadingNowTrial-94.woff") format("woff"), url("fonts/HeadingNowTrial-94.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "ResistSansText";
    src: url("fonts/ResistSansText-Light.woff2") format("woff2"), url("fonts/ResistSansText-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "HeadingPro";
    src: url("fonts/HeadingPro-Regular.woff2") format("woff2"), url("fonts/HeadingPro-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "HeadingNow";
    src: url("fonts/HeadingNow.woff2") format("woff2"), url("fonts/HeadingNow.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Bold.woff2") format("woff2"), url("fonts/Gilroy-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-ExtraBold.woff2') format('woff2'),
        url('fonts/TTNorms-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('fonts/TTNorms-Bold.woff2') format('woff2'),
        url('fonts/TTNorms-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Norms";
    src: url("fonts/TTNorms-Medium.woff") format("woff"), url("fonts/TTNorms-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TT Norms";
    src: url("fonts/TTNorms-Regular.woff2") format("woff2"), url("fonts/TTNorms-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TTNorms";
    src: url("fonts/TTNorms-Light.woff2") format("woff2"), url("fonts/TTNorms-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}


