.partners {
    @media (min-width: 575px) {
        &__title {
            font-size: 3rem;
            line-height: 3rem;
        }

        &__col {
            max-width: 33.333%;
            flex: 0 0 33.333%;
        }
    }
    @media (min-width: 767px) {
        &__col {
            max-width: 25%;
            flex: 0 0 25%;
        }
    }
    @media (min-width: 991px) {
        &__title {
            font-size: 6rem;
            line-height: 6rem;
            margin-bottom: 5rem;
        }
    }
    @media (min-width: 1440px) {
        &__title {
            font-size: 8rem;
            line-height: 8rem;
        }
    }
    @media (min-width: 1199px) {
    }
}
