.main {
    @media (min-width: 575px) {
    }
    @media (min-width: 767px) {
        background: url("../img/main/background-white.png") no-repeat;
        background-size: cover;
        background-position: top -6.4vw left -6.4rem;
        position: relative;
        &::before {
            background-size: 212vw;
            background-position: top 19.4rem left 6.9rem;
            width: 119vw;
            height: 169vw;
            top: -26.5vw;
            left: -19vw;
            z-index: 1;
        }
        &__video_box {
            display: none;
        }
        &__inner {
            padding-top: 20rem;
            .outro & {
                padding-top: 20rem;
            }
        }
        &__date {
            position: absolute;
            transform: rotate(-90deg);
            font-size: 5rem;
            line-height: 9rem;
            left: -5rem;
            top: 53.2vw;
            margin-top: 10rem;
        }
        &__box {
            &::after {
                top: 0vw;
                right: -18rem;
                width: 66.7vw;
                height: 78.55vw;
                transform: unset;
            }
        }

        &__subtitle {
            font-size: 4vw;
            line-height: 120%;
            margin-top: 10rem;
            padding-left: 0;
            max-width: 27.5rem;
        }
        &__button {
            display: block;
        }
    }
    @media (min-width: 991px) {
        background: unset;

        &::before {
            background-position: top -2rem left -22rem;
            z-index: 0;
            width: 224rem;
            left: 0;
            top: 0;
            height: 167.6rem;
        }
        &__video_box {
            display: block;
        }
        &__inner {
            // padding-top: 92rem;
            padding-top: 55rem;
            .outro & {
                padding-top: 55rem;
            }
        }

        &__date {
            top: 62.6rem;
            left: -5rem;
        }

        &__box {
            &::after {
                display: none;
            }
        }

        &__title {
            display: none;
        }

        &__subtitle {
            font-size: 4rem;
            max-width: 45.5rem;
            margin-top: 0;
        }

        &__button {
            font-size: 3rem;
            line-height: 9rem;
            margin-top: 7.3rem;
        }
    }
    @media (min-width: 1199px) {
        position: relative;

        &::before {
            background-position: top -11rem left -17rem;
        }
        &__date {
            top: 52rem;
            left: -3rem;
            font-size: 6rem;
        }
        &__inner {
            padding-top: 85rem;
            .outro & {
                padding-top: 85rem;
            }
            // padding-top: 63rem;
        }
    }
    @media (min-width: 1500px) {
        &__skroll {
            display: block;
            position: absolute;
            cursor: pointer;
            right: 2rem;
            top: 71.9rem;
            font-size: 3rem;
            line-height: 120%;
            transform: rotate(90deg);
            &::before {
                position: absolute;
                content: "";
                width: 1.5rem;
                height: 7.8rem;
                background: url("../img/main/vector_sckrol.svg") no-repeat;
                transform: rotate(-90deg);
                background-size: contain;
                right: -6rem;
                top: -1.5rem;
            }
        }
    }
    @media (min-width: 1750px) {
        &__subtitle {
            position: absolute;
            top: 20rem;
            right: 25rem;
            font-size: 5rem;
            width: 42rem;
        }
        &__button {
            margin-top: unset;
        }
    }
}



@media (min-width: 767px) {
    .version-webinar .main {
        &__subtitle {
            font-size: 4vw;
            line-height: 120%;
            margin-top: 10rem;
            padding-left: 0;
            max-width: 27.5rem;
        }
        &__text {
            font-size: 3vw;
            line-height: 120%;
        }
    }
}

@media (min-width: 991px) {
    .version-webinar .main {
        &__subtitle {
            font-size: 4rem;
            max-width: 45.5rem;
            margin-bottom: 3rem;
            span {
                display: block;
                font-size: 3rem;
                line-height: 4rem;
            }
        }
        &__text {
            font-size: 3rem;
            line-height: 4.5rem;
        }

    }
}

@media (min-width: 1100px) {
    .version-webinar  {
        .main__inner {
            padding-top: 75rem;
        }
        .main__text {
            margin-bottom: 2rem;
        }
        .main__subtitle {
            padding-left: 3rem;
        }
        .main__text {
            padding-left: 3rem;
        }
    }
}


@media (min-width: 1750px) {
    .version-webinar .main {
        &__subtitle {
            font-family: "HeadingNow";
            font-size: 7rem;
            line-height: 8rem;
            font-weight: 400;
            margin-top: 2rem;
            margin-bottom: 7rem;
            width: 40rem;
            span {
                display: block;
                font-size: 4rem;
                line-height: 5rem;
            }
        }
        &__speaker-b {
            border-bottom: 1px solid #fff;
        }
        &__text {
            font-family: "ResistSansText";
            font-size: 4rem;
            line-height: 5.5rem;
            font-weight: 300;
            width: 60rem;
            position: absolute;
            top: 50rem;
            right: 5rem;
            font-size: 5rem;

        }
    }
}